<div class="profile-container">
    <div class="profile-picture">
        <img src="https://firebasestorage.googleapis.com/v0/b/cv-act1.appspot.com/o/Oni.webp?alt=media&token=91b44470-b40d-4949-941f-e8168594ef79" width="150" height="150" class="pfp" alt="Profile Picture">
    </div>
    <div class="about-info">
        <h1>Renata Mota</h1>
        <p class="job-title">Software Engineer</p>
        <p class="languages">Inglés y Español</p>
    </div>
    <div class="about-section">
        <p>Estudiante de Ingeniería en Software de la Universidad Veracruzana, interesada en el desarrollo de websites y el front-end. Disfruto la planeación de una buena UI y entre mis objetivos se encuentran mejorar interfaces gráficas considerando las necesidades de los usuarios y colaborar en el desarrollo de videojuegos.</p>
    </div>
</div>
