.profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px; 
    background-color: #07060e;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 25, 252, 0.1); 
}

.profile-picture {
    flex-shrink: 0;
}

.pfp {
    border-radius: 50%;
    padding: 10%;
}

.about-info {
    flex: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    margin-left: 5%;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 1%;
    color: #5e53c4;
        width: 180px;
}

.abt {
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2%;
}

.about-section {
    margin-left: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    width: 60%;
    font-size: 17px;
    padding: 2%;
}
