<h1>
    Hello, mycv
</h1>

<table>
    <tr>
        <td>
            <img src="https://firebasestorage.googleapis.com/v0/b/cv-act1.appspot.com/o/Oni.webp?alt=media&token=91b44470-b40d-4949-941f-e8168594ef79" width="100" height="100">
        </td>
        <td>
            <p>Renata Mota González</p>
            <p>gay little monkey</p>

        </td>



        <td>
            <ul>
                <li>renomg.194&#64;gmail.com</li>
                <li>272 146 2784</li>
                <li>Orizaba, Veracruz</li>
                <li>&#64;velocirenaptor</li>
            </ul>
        </td>

    </tr>
</table>