h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: white;
}

.remarks-button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.remarks-span {
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    margin: 10px 0;
    background: linear-gradient(to bottom right, rgba(99, 100, 201, 1), rgb(188, 105, 255));
    padding:10px;
    border-radius: 30px; 
    width: 130px;
    text-align: center;
}
