h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: white;
}

.interests-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}

.interests-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.interest-item {
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.icon {
    width: 20px; /* Ajusta el tamaño del ícono */
    height: 20px; /* Ajusta el tamaño del ícono */
    margin-right: 5px; /* Espacio entre el ícono y el texto */
}
