<h3>Experiencia Laboral</h3>

<table border="0">
        <ul *ngFor="let work of workExperience">
            <li class="table">
                <tr>
                    <td>
                        {{work.fecha}}
                    </td>
                    <td>
                        {{work.ubicacion}}
                    </td>
                </tr>
                <tr>
                    <td>{{work.ocupacion}} </td>
                </tr>
                <tr>
                    <td><b>Logros</b></td>
                </tr>
                <ul *ngFor="let logro of work.logros">
                    <li>
                        <tr>
                            <td>{{logro.descripcion}} </td>
                        </tr>
                    </li>
                </ul>
            </li>
        </ul>
    
</table>